<div style="width:1000;height:500;"><div id="userChart"></div></div>

<table class="table is-bordered is-fullwidth">
{{range $i := .}}
<tr><td><a href="{{$i.Link}}">{{$i.Name}}</a></td><td>{{$i.PointSum}}</d></tr>
{{end}}
</table>

<script>
var trace = {
	x: [{{range $i := .}}
				{{$i.PointSum}},
	{{end}}].sort(),
	type: 'histogram',
};

var data = [trace];
Plotly.newPlot("userChart", data);
</script>
